body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(52, 70, 22);
    text-transform:capitalize;
    height:100vh;
}

#form{
    width:300px;
    margin: 20vh auto 0 auto;
    padding: 15px;
    background-color:beige;
    font-size:18px;
}

#form button{
    background-color:red;
    padding:10px;
    margin-top:10px;
    width:100%;
    color:black;
    border:none;
    border-radius:4px;
}

.input-control{
    display:flex;
    flex-direction:column;
}

.input-control input{
    display:block;
    padding:10px;
    border:2px solid grey;
    border-radius:4px;
    font-size:14px;
    /* width:100%; */
}

.input-control input:focus{
    outline:0;

}
.input-control.success input{
    background-color: brown;
    
}
.input-control.error input:focus{
    background-color: tomato;
    
}

.input-control .error{
    color:#ff8689;
    height:15px;
    font-size:10px;

}