*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slider{
    margin:50px auto;
    width:50%;
}

.image-box > img{
    width:500px;
    height:500px;
}

.btn{
    
    background-color: gray;
    margin:5px;
}

